<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<mapping class="com.github.snd297.yp.hibernatecollections.persistence.BadBicycle" />
		<mapping
			class="com.github.snd297.yp.hibernatecollections.persistence.WheelInBadBicycle" />

		<mapping class="com.github.snd297.yp.hibernatecollections.persistence.Bicycle" />
		<mapping class="com.github.snd297.yp.hibernatecollections.persistence.Wheel" />

		<mapping
			class="com.github.snd297.yp.hibernatecollections.persistence.BandOwningSide" />
		<mapping class="com.github.snd297.yp.hibernatecollections.persistence.BandMember" />

		<mapping
			class="com.github.snd297.yp.hibernatecollections.persistence.BandWithForeignKey" />
		<mapping
			class="com.github.snd297.yp.hibernatecollections.persistence.BandMemberWithForeignKey" />

	</session-factory>
</hibernate-configuration>